body{background: #FFE4FA;}
.TituloH1 {color: #B87A27; font-size: 40px; text-align: center; text-decoration: underline;}
.Subtitulos{color:#FFC300; font-size: 33px; text-decoration: underline;}
.Imagenes{width: 250px}
